.battery {
    position: relative;
    float: left;
    width: 120px;
    height: 60px;
    background-color: #ddd;
    border: 0.15em solid black
}
.end {
    position: absolute;
    float: right;
    right: -10px;
    top: 7.5px;
    width: 10px;
    height: 40px;
    background-color: #ddd;
    border: 0.15em solid black;
    border-left: transparent;
}
.battery > .bar {
    background-color: transparent;
    width: 80%;
    height: 100%;
}
.battery .bar > .loading {
    background: rgb(187, 3, 3);
    background: linear-gradient(360deg, rgb(173, 0, 0) 0%, rgb(223, 103, 5) 58%, rgb(206, 2, 2) 100%);
    width: 100%;
    height: 100%;
    animation-name: loading;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
@keyframes loading {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.battery2 {
    position: relative;
    float: left;
    width: 120px;
    height: 60px;
    background-color: #ddd;
    border: 0.15em solid black
}
.battery2 > .bar {
    background-color: transparent;
    width: 80%;
    height: 100%;
}
.battery2 .bar > .loading {
    background: rgb(3, 187, 33);
    background: linear-gradient(90deg, rgb(145, 255, 0) 0%, rgb(7, 230, 63) 58%, rgb(15, 180, 0) 100%);
    width: 100%;
    height: 100%;
    animation-name: loading;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes loading {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
.battery3 {
    position: relative;
    float: left;
    width: 120px;
    height: 60px;
    background-color: #ddd;
    border: 0.15em solid black
}
.battery3 > .bar {
    background-color: transparent;
    width: 80%;
    height: 100%;
}
.loading1,
.loading2,
.loading3,
.loading4 {
    position: relative;
    width: 26px;
    height: 50px;
    opacity: 0;
}
.loading1 {
    bottom: -3px;
    left: 2px;
    background-color: rgb(218, 51, 0);
    animation-name: loading-1;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}
@keyframes loading-1 {
    25%, 100% {
        opacity: 1;
    }
}
.loading2 {
    bottom: 47px;
    left: 30px;
    background-color: rgb(218, 178, 0);
    animation-name: loading-2;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}
@keyframes loading-2 {
    0%, 25% {
        opacity: 0;
    }
    50%, 100% {
        opacity: 1;
    }
}
.loading3 {
    bottom: 97px;
    left: 58px;
    background-color: rgb(73, 187, 7);
    animation-name: loading-3;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}
@keyframes loading-3 {
    0%, 50% {
        opacity: 0;
    }
    75%, 100% {
        opacity: 1;
    }
}
.loading4 {
    bottom: 147px;
    left: 86px;
    background-color: rgb(67, 172, 6);
    animation-name: loading-4;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}
@keyframes loading-4 {
    0%, 75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
