@import '../global.css';
@import '../layout.css';
@import '../button.css';

.back {
    display: inline;
    float: left;
    margin-left: 30px;
    background-color: rgb(214, 214, 214);
    color: rgb(39, 38, 38);
    padding: 0.8em 1.5em;
    border-radius: 0.3em;
    font-size: 19px;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
}

.back:hover {
    background-color: rgb(102, 100, 100);
    color: rgb(214, 210, 210); 
}

.clock-body {
    position: relative;
    width: 260px;
    height: 260px;
    background-color: rgb(233, 186, 32);
    border: 10px solid rgb(194, 152, 14);
    border-radius: 50%;
}
.arrows {
    width: inherit;
    height: inherit;
    position: relative;
    top: 0%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.second-hand {
    position: absolute;
    width: 0.2em;
    height: 5.7em;
    top: 2em;
    left: 50%;
    background-color: rgb(201, 102, 10);
}
.numbers {
    width: inherit;
    height: inherit;
    position: relative;
    background-color: transparent;
}
.numbers div {
    position: absolute;
    font-size: 1.5em;
    background-color: transparent;
}
.num12 {
    top: 0.1em;
    left: 46%;
    transform: translateX(-50%);
}
.num3 {
    right: 0.8em;
    top: 40%;
    transform: translateX(-50%);
}
.num6 {
    bottom: 0.9em;
    left: 47%;
    transform: translateX(-50%);
}
.num9 {
    left: 0.5em;
    top: 40%;
    transform: translateX(-50%);
}