@import '../global.css';
@import '../layout.css';
@import '../button.css';

.back {
    display: inline;
    float: left;
    margin-left: 30px;
    background-color: rgb(214, 214, 214);
    color: rgb(39, 38, 38);
    padding: 0.8em 1.5em;
    border-radius: 0.3em;
    font-size: 19px;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
}

.back:hover {
    background-color: rgb(102, 100, 100);
    color: rgb(214, 210, 210); 
}

.clock-body {
    position: relative;
    width: 260px;
    height: 260px;
    background-color: rgb(233, 186, 32);
    border: 10px solid rgb(194, 152, 14);
    border-radius: 50%;
}

.hour-hand,
.minute-hand,
.second-hand {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 5px;
    width: 38%;
    border-radius: 30%;
    background-color: rgb(29, 28, 28);
    transform-origin: left;
    transform: rotate(-90deg);
}

.second-hand {
    background-color: rgb(180, 42, 7);
}
.hour-hand {
    width: 28%;
    background-color: rgb(114, 55, 0);
}
.minute-hand {
    background-color: rgb(114, 55, 0);
}